@model SWZ_Petrol_Station.FUEL_TANK

@{
    ViewBag.Title = "Details";
    var amount = DateTime.Now.Millisecond % 14 + 17;
    var pressure = DateTime.Now.Millisecond % 9 + 32;
    var temperature = DateTime.Now.Millisecond % 23 + 8;
}
<h2>Details</h2>

<div>
    <h4>FUEL_TANK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FUE_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FUE_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FUE__PRESSURE)
        </dt>

        <dd>
            @pressure
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FUE_TEMPERATURE)
        </dt>

        <dd>
            @temperature
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FUE_AMOUNT)
        </dt>

        <dd>
            @amount

        </dd>

    </dl>
</div>
@using (Html.BeginForm(new {  amount = amount,  pressure = pressure,  temperature = temperature, id = Model.FUE_NUMBER }))
{
    @Html.AntiForgeryToken()
    <p>
                <input type="submit" value="Save" class="btn btn-default" />
    </p>
}