@model SWZ_Petrol_Station.TRANSACTIONS

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TRANSACTIONS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TRA_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRA_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRA_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRA_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRA_INVOICED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRA_INVOICED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRA_AMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRA_AMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRA_ALL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRA_ALL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTS.CLI_LOGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTS.CLI_LOGIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICELIST.PRL_UNIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICELIST.PRL_UNIT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
