@using SWZ_Petrol_Station.Models;
@model IEnumerable<SWZ_Petrol_Station.PRIZES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (Session["LogedUserType"] != null) {
    if ((AccountType)Session["LogedUserType"] == AccountType.Admin) {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRI_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRI_NUMBER_OF_POINTS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRI_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRI_NUMBER_OF_POINTS)
        </td>
        @if (Session["LogedUserType"] != null) {
            if ((AccountType)Session["LogedUserType"] == AccountType.Admin) {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.PRI_PKid }) |
                    @Html.ActionLink("Details", "Details", new { id=item.PRI_PKid }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.PRI_PKid })
                </td>
            } else if ((AccountType)Session["LogedUserType"] == AccountType.Client) {
                @*
                <td>
                    @using (Html.BeginForm("Select", "PRIZES", FormMethod.Post, new { id = item.PRI_PKid, @class = "navbar-right" }))
                    { 
                        @Html.AntiForgeryToken()
                        <a href="#" onclick="$(this).closest('form').submit()">Select</a>
                    }
                </td>
                *@
            }
        }
    </tr>
}

</table>
