@model SWZ_Petrol_Station.PRICELIST

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PRICELIST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRL_UNIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRL_UNIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRL_PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRL_PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRL_LOYALTY_POINTS_AMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRL_LOYALTY_POINTS_AMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SERVICE.SER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERVICE.SER_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
