<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SWF Petrol Station</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="max-width: 100%;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SWF Petrol Station", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="container" style="max-width: 100%; background-color: #25353E">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Pricing", "Index", "PRICELISTs")</li>
                    <li>@Html.ActionLink("Customers", "Customers", "Customers")</li>
                    <li>@Html.ActionLink("Invoices", "Index", "Home")</li>
                    <li>@Html.ActionLink("Car wash", "Index", "Home")</li>
                    <li>@Html.ActionLink("Loyalty", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top: 50px">
        @RenderBody()
        <hr />
        <footer>
            <table width="100%">
                <tr>
                    <td style="width: 30%">&copy; @DateTime.Now.Year - SWF Petrol Station</td>
                    <td style="width: 40%; text-align: center;">@Html.ActionLink("About", "About", "Home")</td>
                    <td style="width: 30%; text-align: right;">@Html.ActionLink("Contact", "Contact", "Home")</td>
                </tr>
            </table>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
